<!-- Seguidos -->
<div  style="margin-top: 80px; text-align: center; overflow: hidden; 
            height: 2000px;">
    <div style="display: inline-flex; justify-content: space-between;flex-direction: row;">
        <div *ngFor="let follow of follows" class="item-publication">
            <div class ="col-lg-6" style="margin-right: 16px; display: inline-block;height: 80px; flex-shrink: 0; margin-bottom: 0; ">
                <a href="#" style="margin-top: 4px">
                    <img class="imageProfileFriends" height="80" width="80"
                        src="{{ url + 'get-image-user/' + follow.followed.image }}"
                        *ngIf="follow.followed.image != null; else noImage" />

                    <ng-template #noImage>
                        <img class="imageProfileFriends" height="80" width="80"
                            src="../../../assets/images/undefinedUser.png" alt="" />
                    </ng-template>
                </a>
            </div>

                <div style="margin-left: 15px">
                    <h5 class="card-title">
                        {{ follow.followed.name + " " + follow.followed.surname }}
                    </h5>
                </div>
                <br />
         


            <br />
        </div>
    </div>
</div>