<!-- Seguidos -->
<div  style="margin-top: 80px; text-align: center; overflow: hidden; 
            height: 2000px;">
    <div class="card-data" style="place-content: center;">
        <div *ngFor="let follow of follows" class="card">
                
            <img class="imageProfileFriends" height="auto" width="80"
            src="{{ url + 'get-image-user/' + follow.followed.image }}"
            *ngIf="follow.followed.image != null; else noImage" />

           <ng-template #noImage>
              <img class="imageProfileFriends" height="80" width="80"
                src="../../../assets/images/undefinedUser.png" alt="" />
         </ng-template>
 
    

   

            {{ follow.followed.name + " " + follow.followed.surname }}

    
                

               

         


            <br />
        </div>
    </div>
</div>