<!-- Seguidos -->
<div style="margin-top: 80px; text-align: center; overflow: hidden;">
    <div class="card-data" style="place-content: center;">

        <div *ngFor="let follow of follows" class="divUserFriends">

            <div class="secondDivUserFriends">
                <div style="float: left;">
                    <img class="imageProfileFriends" height="100" width="100"
                        src="{{ url + 'get-image-user/' + follow.followed.image }}"
                        *ngIf="follow.followed.image != null; else noImage" />

                    <ng-template #noImage>
                        <img class="imageProfileFriends" height="100" width="100"
                            src="../../../assets/images/undefinedUser.png" alt="" />
                    </ng-template>
                </div>

                <p style="float: left; margin-left: 30px; letter-spacing: 0.3px; font-weight: 500;">

                    {{ follow.followed.name + " " + follow.followed.surname }}
                </p>

                    <div *ngIf="isLoginUserProfile">
                    <span  style="position:absolute; top:20px; right:7px; color: gray; height: 26px;"
                         mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon style="cursor: pointer;vertical-align: top;">more_vert</mat-icon>
                    </span>
                      <mat-menu  #menu="matMenu"> 
                        <button mat-menu-item>
                          <mat-icon><i class="material-icons">person_add_disabled</i></mat-icon>
                          <span (click) = "unfollowUser(follow.followed._id)" style="font-weight: 500;">Dejar de seguir</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>voicemail</mat-icon>
                          <span style="font-weight: 500;">Check voice mail</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>notifications_off</mat-icon>
                          <span style="font-weight: 500;"> Disable alerts</span>
                        </button>
                      </mat-menu>
                    </div>
            </div>

            <div>
             


        </div>
    </div>
</div>

