<div class="col-lg-8 col-lg-offset-2">
   

    <div class="jumbotron" style="text-align: center;">
        <h1 class="h1-strong"> {{title}} </h1>
        <p>Disfruta de las publicaciones de tus amigos y comparte tus historias</p>

            <div class="mt-5">
                <p>
                    <a [routerLink] ="['/timeline']" class="btn btn-primary btn-lg" role="button">
                        Timeline
                    </a>

                    <!-- HAY QUE CAMBIAR ESTO -->
                    <a [routerLink] = "['/perfil' + '/6075edee183290029174c3b5'] " class="btn btn-danger btn-lg ml-4" role="button">
                        Mi perfil
                    </a>

                    <a [routerLink] ="['/gente']" class="btn btn-success btn-lg ml-4" role="button">
                        Gente
                    </a>
                </p>
         </div>
    </div>

</div>