<app-profile></app-profile>


<!-- Publicaciones -->
<div style="margin:0 auto">
    <div class="container" style="display: grid">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="card" style="width: 500px !important; margin: 0 auto">
                <div class="card-body" style="align-self: self-start">
                    <div style="display: inline-flex">
                        <a href="#" style="margin-top: 4px">
                            <img src="{{ url + 'get-image-user/' + publication.user.image }}" height="40px" width="40px"
                                alt="" style="border-radius: 50%" *ngIf="publication.user.image" />
                            <img src="../../../assets/images/undefinedUser.png" height="40px" width="40px" alt=""
                                style="border-radius: 50%" *ngIf="!publication.user.image" />
                        </a>
                        <div style="margin-left: 15px">
                            <h5 class="card-title">
                                {{ publication.user.name + " " + publication.user.surname }}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted" style="
                  text-align: left;
                  font-weight: 400;
                  font-size: 13px;
                  padding-left: 3px;
                ">
                                {{
                                publication.created_at
                                | amFromUnix
                                | amLocale: "es"
                                | amTimeAgo
                                }}
                            </h6>
                        </div>
                        <br />
                    </div>

                    <p class="card-text">{{ publication.text }}</p>
                </div>
            </div>
            <br />
        </div>
    </div>

          <!-- button view more -->
          <div class="col-lg-12" style="text-align:center" *ngIf="publications && publications.length">
            <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
              ver más publicaciones
            </button>
        </div>
</div>