.dropdown-menu {
    left:-40px;
}

.dropdown-toggle::after {
    display:none
}

.avatar{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px;
}

.avatar img{
    height: auto;
    width: 38px;
}

