.divProfileBackgroundPick{
    max-width: 940px; position: relative; 
    flex-shrink: 1; 
    z-index: -1; 
    align-items: center; 
    overflow-x: hidden; 
    overflow-y: hidden;     
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin: 0 auto;
    border-radius:0px 0px max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 0px 0px 8px 8px;
    max-height: 475px;
    margin-top:-110px;
}


.profileSmallImage{
          height: 168px;
          width: 168px;
          border-radius: 50%;
          border: 4px solid;
          border-color: white;
          cursor: pointer;
}

.profileSmallImage:active {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
}




button.mat-menu-item {
    width: inherit;
}

button.mat-menu-item:focus {
    outline: 1px dotted;
    outline: none;
}

.updateProfilePicture{
   background-image: url(https://www.facebook.com/rsrc.php/v3/yA/r/rt4JWkHNEuE.png);
                background-size: auto;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                display: inline-block;
                align-self: center;
                margin-right:10px;
}


.profileCamDiv{
    bottom: 25px;
    right: 25px;
    border-radius: 50%;
    background-color: grey;
    z-index: 2;
    display:block;
    height: 36px;
    width: 36px;
}

.active{
    font-weight: 600; 
    float: left;
    margin:1pt; 
    width:120pt; 
    height:25px; 
    text-align: center; 
    cursor: pointer;
    color: #007bff;
}

.editBackgroundButton:hover {
    transform: scale(1.05);   
}

.editBackgroundButton a:hover{
    text-decoration: none;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #007bff;
}

//selected menu at start
::ng-deep.mat-tab-label-active{
    opacity: 1.0!important;
}
