<div class="col-lg-8" style="margin: 0 auto">
    <div class="divProfileBackgroundPick">
        <img
            src="https://scontent.fbcn7-2.fna.fbcdn.net/v/t31.18172-8/p640x640/15972385_10212029278788042_7128806983890594505_o.jpg?_nc_cat=107&ccb=1-5&_nc_sid=e3f864&_nc_ohc=9PrH2A7JEfQAX-hnzex&_nc_ht=scontent.fbcn7-2.fna&oh=2aeb056825bb8cc85a022153f19cc147&oe=617935B3" />
    </div>

    <div style="text-align: center; margin-top: 20px">
        <h1 style="line-height: 1.1875; word-break: break-word">{{ identity.name + " " + identity.surname }}</h1>

        <!-- profile picture -->
        <div style="margin-top: -220px">
         
            <img [matMenuTriggerFor]="belowMenu" class="profileSmallImage" src="{{ url + 'get-image-user/' + user.image }}" alt="" />

        </div>
    </div>

    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item style="font-size: .9375rem; font-weight: 500;">
            <i data-visualcompletion="cass-image" class="updateProfilePicture" style="background-position: 0px -84px;"></i>
            Ver foto de perfil
        </button>
        <div style="display:inline-flex">
         
            <button mat-menu-item style="font-size: .9375rem; font-weight: 500;">
                <i data-visualcompletion="cass-image" class="updateProfilePicture" style= "background-position: 0px -42px;"></i>
                Actualizar foto de perfil</button>
         </div>
    </mat-menu>


    <div class="contain" style="max-height: fit-content; border-bottom: 1px solid #ced0d4; margin-top:62px">

    </div>

    <!-- Items -->
    <div class="container" style="margin-top:25px;">
        <div class="centerwrapper" style="margin: auto; width: 302pt; width: max-content;">

            <a href="#">
                <div style="float: left;margin:1pt; width:120pt; height:72pt; text-align: center; cursor: pointer;">
                    <div>
                        <span style="color:#65676b">Publicaciones</span>
                    </div>

                </div>
            </a>

            <a href="#">
                <div style="float: left;margin:1pt; width:120pt; height:72pt; text-align: center; cursor: pointer;">

                    <span style="color:#65676b">Información</span>

                </div>
            </a>


            <a href="#">
                <div style="float: left;margin:1pt; width:120pt; height:72pt; text-align: center; cursor: pointer;">              
                        <span style="color:#65676b">Amigos</span>
                </div>
           </a>

           <a href="#" >
                <div  class="buttonLinkProfile" style=" font-weight: 600; float: left;margin:1pt; width:120pt; height:25px; text-align: center; cursor: pointer;" >
                    <span style="color:#65676b">Fotos</span>
                </div>
            </a>
        </div>

    </div>
</div>