<div  class="col-lg-8" style="margin: 0 auto; ">
  <div *ngIf="load" id="divProfileBackgroundPick " class="divProfileBackgroundPick">

    
    <img *ngIf="user.backgroundImage; else noImage"
    src="{{ url + 'get-image-user/' + user.backgroundImage}}"
   />

   <ng-template #noImage>
    <div style="background-color: #F0E7DD; text-align: center;">
      <img
      src="assets/images/undefinedUser.png"
      />
    </div>
  </ng-template>


     
    
    </div>
     

  <div class="col-lg-12" style="text-align: center; margin-top: 20px">
    <!-- profile picture -->
    <div  style="margin-top: -160px; margin-bottom: 12px;">
      <img *ngIf="user.image; else noProfileImage" [matMenuTriggerFor]="belowMenu" class="profileSmallImage" src="{{ url + 'get-image-user/' + user.image }}"
        alt=""  />

      <ng-template #noProfileImage>
        <img [matMenuTriggerFor]="belowMenu" class="profileSmallImage" src="assets/images/undefinedUser.png" alt=""
          *ngIf="!user.image" />
      </ng-template>


        <!-- background picture edit -->
        <div style="position:absolute;     
          cursor: pointer;
          right: 14%;
          top: 85px;">
          <div class="editBackgroundButton" [matMenuTriggerFor]="backgroundBelowMenu" style="height: 30px; width: 117px; background-color: white; text-align: center; 
          border-radius: 10px; ">
              <span style=" position: relative;
                  top: 19%;
                  transform: translateY(-50%);
                  cursor: pointer;">
                  <i class="fa fa-camera" style="font-size:19px"></i>
                  <span  
                  style="color: black;
                  font-weight: 500;
                  vertical-align: text-bottom;
                  margin-left:3px">
                  Editar foto </span> 
                  </span> 
          </div>
      </div>
   
    </div>


   
    <!-- name && surname -->
    <div style="text-align: center; display: inline-flex">
      <h1 style="
          line-height: 1.1875;
          word-break: break-word;
          text-transform: capitalize;
          font-size: 32px;
          font-weight: 700;
        ">
        {{ user.name + " " + user.surname }}
      </h1>
      <div style="position: absolute; margin-left: 275px; bottom: 50px;" *ngIf="followed">
        <div style="
            padding: 0.08rem;
            color: royalblue;;
            cursor: context-menu; font-weight: 500;" 
            class="card card-body bg-light">
          Te sigue
        </div>
      </div>



    </div>
  </div>

  <!-- menú foto  central-->
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item style="font-size: 0.9375rem; font-weight: 500">
      <i data-visualcompletion="cass-image" class="updateProfilePicture" style="background-position: 0px -84px"></i>
      Ver foto de perfil
    </button>
    <div style="display: inline-flex">
      <button mat-menu-item mat-button style="font-size: 0.9375rem; font-weight: 500"(click)="editImageProfile()" >
        <i data-visualcompletion="cass-image" class="updateProfilePicture" style="background-position: 0px -42px"></i>
        Actualizar foto de perfil
      </button>
    </div>
    <div style="display: inline-flex">
      <button mat-menu-item mat-button style="font-size: 0.9375rem; font-weight: 500" (click)="updateBackgroundImage(false)" >
        <i data-visualcompletion="cass-image" class="updateProfilePicture" style="background-position: 0px -42px"></i>
        Eliminar foto de perfil
      </button>
    </div>
  </mat-menu>

    <!-- menú background foto-->
    <mat-menu #backgroundBelowMenu="matMenu" yPosition="below">
      <button mat-menu-item style="font-size: 0.9375rem; font-weight: 500;" (click)="editBackgroundProfile()">
        <i data-visualcompletion="cass-image" class="updateProfilePicture" style="background-position: 0px -84px"></i>
        Seleccionar foto de portada
      </button>
      <div style="display: inline-flex">
        <button mat-menu-item mat-button style="font-size: 0.9375rem; font-weight:500;" (click)="updateBackgroundImage(true)">
          <i data-visualcompletion="cass-image" class="updateProfilePicture" style="background-position: 0px -42px"></i>
         Eliminar foto de portada
        </button>
      </div>
    </mat-menu>
  




  <mat-tab-group animationDuration="0ms"  mat-align-tabs="center" style="margin-top:25px">
    <mat-tab label="Publicaciones" >
     <profilePublication ></profilePublication>
     </mat-tab>

    <mat-tab label="Información">
      <div style="min-height: 300px;">
        Informacion
      </div>
    </mat-tab>

    <mat-tab label="Amigos">
      <profileFriends></profileFriends>
    </mat-tab>

    <mat-tab label="Fotos">
      <div style="min-height: 300px;">
        Fotos Content
      </div>
    </mat-tab>

    
  </mat-tab-group>
  <br>
    
    
     <!-- Items -->
  <!-- <div class="container" style="margin-top: 25px">
    <div class="centerwrapper" style="margin: auto; width: 302pt; width: max-content">
      <a>
        <div style="
            float: left;
            margin: 1pt;
            width: 120pt;
            text-align: center;
          ">
          <div>
            <span [routerLink]="['/perfil/', user._id]" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }" style="cursor:pointer">
              Publicaciones</span>
          </div>
        </div>
      </a>

      <a href="#">
        <div style="
            float: left;
            margin: 1pt;
            width: 120pt;
            text-align: center;
            cursor: pointer;
          ">
          <span style="color: #65676b">Información</span>
        </div>
      </a>

      <a style="cursor: pointer">
        <div style="
            float: left;
            margin: 1pt;
            width: 120pt;
            text-align: center;
            cursor: pointer;
          ">
          <span [routerLink]="['/perfil/', user._id, 'amigos']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">
            Amigos</span>
        </div>
      </a>

      <a href="#">
        <div class="buttonLinkProfile" style="
            float: left;
            margin: 1pt;
            width: 120pt;
            text-align: center;
            cursor: pointer;
          ">
          <span style="color: #65676b">Fotos</span>
        </div>
      </a>
    </div>
  </div> -->

  <!-- <profilePublication></profilePublication>  -->
</div>

