<div class="col-lg-12" style="display: inline-flex;">



<div class="col-lg-7">
    <h1 style="margin-top:30px"> {{title}}</h1>


    <div class="table-responsive" style="margin-top:50px; margin-left: 40px;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nick</th>              
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">País</th>
                <th scope="col"></th>
                
                
            </tr>
            </thead>
            <tbody *ngFor="let user of users" class="item-user">
            <tr>
                <th scope="row" style="width: 6%;">
                    <a href="#">
                        <img src="{{url + 'get-image-user/' + user.image}}" height="40px" width="40px" alt="" style="float:right; border-radius: 50%;" *ngIf="user.image">
                        <img src="assets/images/undefinedUser.png" height="40px" width="40px" alt="" style="float:right; border-radius: 50%;" *ngIf="!user.image">
                    </a>
                    
                    </th>
                <td> <a href="#">
                    {{ user.nick }}
                </a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td><img src="https://www.countryflags.io/ES/flat/24.png"></td>
                <td style="min-width: 200px;" *ngIf="user._id != identity._id">
                    <button class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0"
                    (click) = "followUser(user._id)"> 
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        Seguir
                    </button>

                    <button class="btn btn-primary" *ngIf="follows.indexOf(user._id) >= 0"
                        (mouseenter)="mouseEnter(user._id)"
                        (mouseleave)="mouseLeave(user._id)"
                        (click)="unfollowUser(user._id)"
                        [class.btn-danger] = "user._id == followUserOver"
                        >

                        <span *ngIf="user._id == followUserOver; else following">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                            Dejar de seguir
                        </span>

                        <ng-template #following>
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                            Siguiendo
                        </ng-template>

                     
                    </button>
                </td>

            </tr>
    
            </tbody>
        </table>
    </div>

    <!-- Paginación -->
    <ul class="pagination">
        <li *ngIf="page > 1"><a [routerLink]="['/gente', prePage]">Anterior</a></li>
        <li *ngIf="pages != page"><a [routerLink]="['/gente', nextPage]">Siguiente</a></li>

    </ul>
</div>

<sidebar style="margin-top:30px"></sidebar>
</div>

<div class="clearfix"></div>