<div id="user-card" class="col-lg-5">

    <div class="content-wrapper">
        <div class="img">
            <img src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity.image">
            <img src="assets/images/undefinedUser.png" *ngIf="!identity.image">
        
        </div>
        <div class="wave -one"></div>
        <div class="wave -two"></div>
        <div class="wave -three"></div>
        <div class="user">
            <div class="profile--info"><span class="username">{{ identity.nick }} </span>
                
                    <span>{{ identity.name + ' ' + identity.surname }}</span>
               
                <br/><span
                    class="userquote">Developer & freelance web designer.</span></div>
            <div class="user-social-wrapper">
                <div class="user-info user-followers">
                    <span> {{ stats.value.publications }}</span>
                    <span>publications</span></div>

                <div class="user-info user-following">
                    <span> {{ stats.value.following }}</span>
                    <span>following</span></div>

                <div class="user-info user-following">
                    <span>{{ stats.value.followed }}</span>
                    <span>followers</span></div>
        </div>
    </div>

    <div>
       
       <h3>Crear publicación</h3>
       <div class="alert alert-sucess" *ngIf="status == 'success'">
        Publicación enviada correctamente
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Publicación no enviada
    </div>
    

       <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm); sendPublication($event)">
            <p>
                <label for="">¿Que estás pensando?</label>
                <textarea name="text" #text="ngModel" [(ngModel)] = "publication.text" class="form-control" required></textarea>
            </p>
            <span *ngIf="!text.valid && text.touched">
                El texto de la publicación es obligatorio
            </span>

        
                <label for="">Imagen</label>
                <br>
                 <input type="file" placeholder="Subir imágen">
                 <br>
                <br>
          

            <input type="submit" value="Enviar" class="btn btn-success" [disabled] = "!newPubForm.form.valid" 
            style="margin-bottom:35px">

       </form>
    </div>