<div class="col-lg-10">
    <h3>{{ title }}</h3>


    <div class="alert alert-success" *ngIf="status == 'success'">
        Mensaje enviado correctamente

    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        El mensaje no ha sido enviado

    </div>


    <!-- formulario -->
    <form #formAdd = "ngForm" (ngSubmit)="onSubmit(formAdd)">
        <p>
            <label for="">Para:</label>
            <select *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
                <option *ngFor="let follow of follows" value="{{ follow.user._id }}">
                    {{ follow.user.name + " " + follow.user.surname + " ( " +follow.user.nick + ")" }} 
                </option>


            </select>
        </p>

        <p>
            <label for="mensaje">Mensaje</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required>
                <span *ngIf=!text.valid && text.touched>
                    El mensaje es obligatorio
                </span>
            </textarea>
        </p>

        <input type="submit" value="{{ title }}" class="btn btn-success" [disabled] = "!formAdd.form.valid">

    </form>
</div>